<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Archi n-tiers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.get('_route') == 'homepage' -%} active {%- endif %}">
                <a class="nav-link" href="{{ path('homepage') }}">Réunions</a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'list_meeting_report' -%} active {%- endif %}">
                <a class="nav-link" href="{{ path('list_meeting_report') }}">Comptes rendus</a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'list_meeting_official_report' -%} active {%- endif %}">
                <a class="nav-link" href="{{ path('list_meeting_official_report') }}">Comptes rendus officiels</a>
            </li>
        </ul>
    </div>
</nav>