
.remove-point {
    color: #dd1703;
}

.remove-point:hover {
    color: #9c1302;
}

.card {
    margin-bottom: 10px;
}

ul.points li {
    list-style-type: none;
}

.btn:hover{
    cursor:pointer;
}
