body{
    margin-top:4rem;
}

.page-header{
    padding-bottom: 9px;
    margin: 80px 0 20px;
    border-bottom: 1px solid #eee;
}

.page-header h1{
    font-size: 30px;
}

.timeago{
    font-style: italic;
}

.hidden{
    display:none;
}
.visible{
    display:block;
    margin-bottom: 0;
}

.point-report{
    width: 100%;
    min-height: 24px;
    height: 100%;
}